<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static',filename='css/home.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Macondo|Lato|Indie+Flower|Shadows+Into+Light|Ruda|Source+Sans+Pro" rel="stylesheet">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="https://chadkillingsworth.github.io/geolocation-marker/geolocation-marker.js"></script>
  <script src="{{ url_for('static',filename='js/materialize.js')}}"></script>
  <script src="{{ url_for('static',filename='js/map.js')}}"></script>
  
<style>
</style>

</head>

<body class="blue-grey lighten-4">
  <nav class="green darken-4" role="navigation">
    <a href="/">Home</a>
    <a href="/">Programs</a>
  </nav>

    <h1 class="header center">Guilford Food Network</h1>
    <h4 class="header center">Feeding Guilford County</h4>
  <br>
  <h3>Our Mission</h3>
  <h5>To ensure food security too all residents of Guilford county.</h5>

  <h3>Programs Near You</h3>
  <div id="map_canvas"></div>

</body>
</html>
